@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root{
   --font-size: 2rem;
   --second-font-size: 1.5rem;
   --third-font-size: .8rem;
   --main-font: 'Barlow', sans-serif;
   --second-font:  'Poppins', sans-serif; /*'Fredoka One', cursive;*/ /*'Titan One', cursive;*/
   --container-width: 1400px;
   --main-color: rgb(14, 28, 56);
   --main-color-transparent:rgba(14, 28, 56, 0.98);
   --second-color: rgb(255, 255, 255);
   --main-modal-color: rgba(42, 207, 207, 0.8);
   --second-modal-color: rgba(0, 38, 63, 0.85);
}

html{
   box-sizing: border-box;
   font-family: var(--main-font);
   font-size: var(--font-size);
   scroll-behavior: smooth;
   margin:0;
   padding:0;

}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

/* font-family: 'Jost', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */

body{
   display: flex;
   flex-direction: column;
   /* background-color: var(--main-color);
   color: var(--second-color); */
   align-items: center;
   font-family: inherit;
   margin:0
}

li, a{
   font-family: var(--main-font);
   font-weight: 400;
   font-size: .6rem;
   color: var(--second-color);
   text-decoration: none;
   margin: 0
}

header{
   background-color: var(--main-color-transparent);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 5%;
   position: sticky;
   top: 0;
   width: 100%;
   height: 10vh;
   z-index: 3;
}

#logo, #logo img{
   max-height: 5vh;
   /* font-size: 1rem; */
   cursor: pointer;
   margin-right: auto;
   /* align-self: flex-start */
}

.nav-links{
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-left: auto;
   /* max-height: 100%; */
}

.nav-links li{
   display: inline-block;
   padding: 0 20px;
}

.nav-links li a,
#contact a{
   position: relative;
   transition: all 0.3s ease;
}

.nav-links li a:hover{
   color: var(--main-modal-color)
}

.nav-links a::before,
#contact .email::before{
   content: '';
   display: block;
   height: 2px;
   background-color: var(--main-modal-color);
   position: absolute;
   bottom: -15%;
   left: 0;
   right: 0;
   transform: scale(0,4);
   transform-origin: center;
   transition: transform ease-in-out 0.3s;

}

.nav-links a:hover::before,
#contact .email:hover::before{
   transform: scale(1,1)
}

.cta{
   padding: 3px 20px;
   background-color: var(--main-modal-color);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
   /* margin-left:20px */
}

.cta:hover{
   background-color: var(--second-color);
   color: var(--main-modal-color)
}





/*? Welcome section */
#welcome-section{
   /* background-color: aquamarine; */
   width: 90%;
   margin: 2em auto;
   margin-top: 0;
   height:100vh;
   display:flex;
   align-items: center;
   gap: 50px;
}

.welcome-content{
   /* align-self: flex-end; */
   display: flex;
   flex-direction: column;
   flex-shrink: 2;
   padding-bottom: 2rem;
   position: relative;
   width: 100%;
   /* padding-left: 3rem; */
}

.name{
   font-family: var(--second-font);
   font-weight: 700;
   background-image: 
   linear-gradient(90deg, var(--main-color), var(--main-modal-color));
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
}


#welcome-section h1{
   font-size: 5vw;
   margin: 0;
   margin-bottom: .75rem;
   font-weight: 400;

}
#welcome-section h2{
   font-size: 3vw;
   margin: 0;
   margin-bottom: .75rem;
   font-weight: 300;

}

.welcome-content a{
   align-self: center;
}

#welcome-section .image {
   flex: 2 1 500px;
   align-self: flex-start;
   margin-top: 3rem;
}

#welcome-section .image img {
   /* padding:80px; */
   min-height: 50%;
   width: 80%;
   /* margin-left: auto;
   margin-top: auto */
   
   /* top: 50%; */
   left: 0%;
   /* transform: translate(50%, 20%); */
   border-radius:50%
}





/*? Projects section */

#projects,
.skills{
   margin-bottom: 4rem;
}

#projects h2,
.skills h2,
#contact h2{
   text-align: center;
   margin-bottom: 2rem;
}

#project-cards{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;


}



/* .project-card:nth-child(2),
.project-card:nth-child(3){
   visibility: hidden;
} */



.project-card{
   position: relative;
   flex-basis: 25vw;
   height: 35vw;
   background-color: rgba(42, 207, 207, 0.1);
   border-radius: 10px;
   box-shadow: 0 0 3px 5px rgba(14, 28, 56, 0.1);
}

.prject-card__img{
   width: 100%;
   height: 80%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   
}

.project-card__clickable{
   position: absolute;
   width: 100%;
   height: 100%;
}

.project-card__btn{
   position: absolute;
   display: block;
   bottom: 5%;
   /* left: 10%; */
   min-width: 20%;
   height: auto;  
   text-align: center;
   padding: .2rem .4rem;
   border-radius: 5px;
   background-color: var(--main-modal-color);
   transition: all 0.3s ease-in-out;
   border: 2px solid transparent;

}

.project-card__btn:hover{
   background-color: white;
   color: var(--main-modal-color);
   border: 2px solid var(--main-modal-color);

}


.project-card__btn--left{
   left: 15%;
}

.project-card__btn--right{
   right: 15%;
}





/*? Skills section */
.skills section{
   display: flex;
   justify-content: space-evenly;
   max-width: 90%;
   margin: 0 auto;
}

.skills__item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   flex-basis: 200px;
}

.skills__item img{
   width: 40%
}

.skills__item:last-child img{
   width: 100%;
}

.skills__item span{
   font-weight: 500;
}




#contact{
 display: flex;  
 flex-direction: column;
}

#contact p{
   text-align: center;
   margin-bottom: 1rem;
}

.contact-icons{
   display: flex;
   justify-content: center;
   gap: 20px;
   /* max-width: 50%; */

}

.contact-icons a{
   position: relative;
   width: 30px;
   height: auto;
   cursor: pointer;
   transition: all .3s ease-in-out;
   color: black;
   /* padding: 0 .5rem; */
}

.contact-icons a i{
   position: absolute;
   font-size: 1rem;
}

.contact-icons a:hover{
   transform: rotate(-20deg) scale(1.3);
}


#contact > a{
   color: black;
   text-decoration: none;
   /* display: block; */
   
   text-align: center;
   /* padding: 1rem 0; */
   margin: 2rem auto 1rem auto;
}

/* #contact a:hover{

} */


/* .nav-links a::before{
   content: '';
   display: block;
   height: 2px;
   background-color: var(--main-modal-color);
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   transform: scale(0,1);
   transform-origin: center;
   transition: transform ease-in-out 0.3s;

}

.nav-links a:hover::before{
   transform: scale(1,1)
} */

#hamburger-btn{
   display: none;
}

@media screen and (max-width: 550px){

      /* all: unset; */

   header{
      all: initial;
      background-color: var(--main-color-transparent);
      text-align: center;
      position: fixed;
      width:100%;

      z-index:6969;
      display: none
   }

   #logo{
      all:initial;
      margin:0
   }

   nav {
      all: initial;
      position: absolute;
      text-align: left;
      left:0 ;
   }

   nav ul{
      all: initial;
      margin: 0;
      padding: 0;
      list-style: none;
   }

   nav li{
      all: initial;
      margin-bottom: 1em;
      margin-left: 1em;
   }

   nav a {
      all: initial;
      color: white;
      text-decoration: none;
      font-size: 0.8rem;
   }





   /*? Welcome section */
   #welcome-section{
      all: revert;
      /* background-color: aquamarine; */
      width: 100%;
      margin: 2em auto;
      /* margin-top: 0; */
      height: auto;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
   }

   #welcome-section .image {
      flex: revert;
      align-self: center;
      position: relative;
      width: 70vw;
      height: 70vw;
      margin: 0;
      /* padding: 1rem; */
   }

   #welcome-section .image img {
      /* padding:80px; */
      height: 100%;
      width: 100%;
      /* position: relative; */
      /* margin: 0 auto; */
      object-fit: cover;
      /* left: 25%; */
      /* right: 25%; */
      /* margin-left: auto;
      margin-top: auto */
      
      /* top: 50%; */
      /* left: 0%; */
      /* transform: translate(50%, 20%); */
      border-radius:50%
   }

   .welcome-content{
      all: revert;
      /* align-self: flex-end; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* flex-shrink: 2; */
      order: 2;
      padding-bottom: 2rem;
      position: relative;
      width: 100%;
      /* padding-left: 3rem; */
   }

   .name{
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 1.5rem;
      background-image: 
      linear-gradient(90deg, var(--main-color), var(--main-modal-color));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }


   #welcome-section h1{
      font-size: 10vw;
      margin: 0;
      margin-bottom: .75rem;
      font-weight: 400;
      text-align: center;
   }
   #welcome-section h2{
      font-size: 7vw;
      margin-top: 0;
      margin: 1rem .75rem;
      /* margin-bottom: .75rem; */
      font-weight: 300;
      text-align: center;

   }

   .welcome-content a{
      padding: .5rem .75rem;
      align-self: center;
      background-color: var(--main-modal-color);
   }




   /*? Projects section */
   #projects,
   .skills{
      margin-bottom: 3rem;
      width: 100%;

   }

   #projects h2,
   .skills h2,
   #contact h2{
      text-align: center;
      margin-bottom: 2rem;
   }

   #project-cards{
      display:flex;
      flex-direction: column;
      justify-content: center;
      /* flex-wrap: wrap; */
      gap: 40px;
   }



   /* .project-card:nth-child(2),
   .project-card:nth-child(3){
      visibility: hidden;
   } */



   .project-card{
      all: revert;
      position: relative;
      width: 78vw;
      height: 97vw;
      background-color: rgba(42, 207, 207, 0.1);
      border-radius: 10px;
      box-shadow: 0 0 3px 5px rgba(14, 28, 56, 0.1);
   }

   .prject-card__img{
      width: 100%;
      height: 80%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
   }

   .project-card__clickable{
      position: absolute;
      width: 100%;
      height: 100%;
   }

   .project-card__btn{
      position: absolute;
      display: block;
      bottom: 5%;
      /* left: 10%; */
      min-width: 20%;
      height: auto;  
      text-align: center;
      padding: .2rem .4rem;
      border-radius: 5px;
      background-color: var(--main-modal-color);
      transition: all 0.3s ease-in-out;
      border: 2px solid transparent;

   }

   .project-card__btn:hover{
      background-color: white;
      color: var(--main-modal-color);
      border: 2px solid var(--main-modal-color);

   }


   .project-card__btn--left{
      left: 15%;
   }

   .project-card__btn--right{
      right: 15%;
   }




   /*? Skills section */
   .skills section{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 90%;
      margin: 0 auto;
   }

   .skills__item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-basis: 200px;
   }

   .skills__item img{
      width: 40%
   }

   .skills__item:last-child img{
      width: 100%;
   }

   .skills__item span{
      font-weight: 500;
   }





   /*? Hamburger button & mobile menu */
   #hamburger-btn{
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
   }

   button{
      all: revert;
   }

   .mobile-menu{
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      width: 100%;
      background-color: var(--second-modal-color);
      transform: translate(-100%, 0);
      transition: transform 0.4s ease;
   }

   .mobile-menu.visible{
      transform: translate(0, 0);
   }

   .mobile-menu a{
     font-family: var(--main-font);
     text-align: center;
     padding: .5rem 0;
     border-top: solid 1px var(--main-color);

   }
}